Code/Node-Red.json

[
    {
        "id": "fe1fbd717c1222d2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c6a39dd5336cb61",
        "type": "mqtt in",
        "z": "fe1fbd717c1222d2",
        "name": "",
        "topic": "Marple",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bd267a8cec83f0ed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "86bbe344d8c8a479",
                "9343140b7148bc66",
                "161ebd035e6d0c24",
                "6a8749eb688ffaec",
                "732a3ff86fe46a26",
                "2c676b78deb8f0d5",
                "72de75148b407964",
                "e5ce323c35f26b76"
            ]
        ]
    },
    {
        "id": "86bbe344d8c8a479",
        "type": "debug",
        "z": "fe1fbd717c1222d2",
        "name": "all",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "9343140b7148bc66",
        "type": "debug",
        "z": "fe1fbd717c1222d2",
        "name": "length1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 320,
        "wires": []
    },
    {
        "id": "161ebd035e6d0c24",
        "type": "function",
        "z": "fe1fbd717c1222d2",
        "name": "Line Inside",
        "func": "if (msg.payload.length1 > 0 && msg.payload.length1 < 5) {\n    msg.headers = {\n        'content-type': 'application/x-www-form-urlencoded',\n        'Authorization': 'Bearer tpdYilpNbHEFoxTucy62kd3GaCR5y5HNu51fn3avxQi'\n    };\n    msg.payload = { \"message\": \"The door has been unlocked from inside.\" };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            [
                "934b112240acca34"
            ]
        ]
    },
    {
        "id": "934b112240acca34",
        "type": "http request",
        "z": "fe1fbd717c1222d2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "6a8749eb688ffaec",
        "type": "debug",
        "z": "fe1fbd717c1222d2",
        "name": "length2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.length2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "732a3ff86fe46a26",
        "type": "function",
        "z": "fe1fbd717c1222d2",
        "name": "Back Door",
        "func": "if (msg.payload.length1 > 1 && msg.payload.length1 < 5) {\n    msg.payload = \"Open\";\n}\nelse {\n    msg.payload = \"Close\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 180,
        "wires": [
            [
                "38e2adf38fb4e7a6"
            ]
        ]
    },
    {
        "id": "2c676b78deb8f0d5",
        "type": "function",
        "z": "fe1fbd717c1222d2",
        "name": "Front Door",
        "func": "if (msg.payload.length2 > 1 && msg.payload.length2 < 5){\n    msg.payload = \"Open\";\n}\nelse{\n    msg.payload = \"Close\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "1990d2639a8995a8"
            ]
        ]
    },
    {
        "id": "72de75148b407964",
        "type": "function",
        "z": "fe1fbd717c1222d2",
        "name": "Line Outside",
        "func": "if (msg.payload.length2 > 0 && msg.payload.length2 < 5) {\n    msg.headers = {\n        'content-type': 'application/x-www-form-urlencoded',\n        'Authorization': 'Bearer tpdYilpNbHEFoxTucy62kd3GaCR5y5HNu51fn3avxQi'\n    };\n    msg.payload = { \"message\": \"The door has been unlocked from outside.\" };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "676651340a81142b"
            ]
        ]
    },
    {
        "id": "676651340a81142b",
        "type": "http request",
        "z": "fe1fbd717c1222d2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://notify-api.line.me/api/notify",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "38e2adf38fb4e7a6",
        "type": "ui_gauge",
        "z": "fe1fbd717c1222d2",
        "name": "",
        "group": "814cead497178248",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Back door's status :",
        "label": "",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "2",
        "colors": [
            "#ff0000",
            "#e60000",
            "#3cc700"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "1990d2639a8995a8",
        "type": "ui_gauge",
        "z": "fe1fbd717c1222d2",
        "name": "",
        "group": "38673dadad34aafe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Front door's status :",
        "label": "",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "Lock",
        "seg2": "Unlocked",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "e5ce323c35f26b76",
        "type": "function",
        "z": "fe1fbd717c1222d2",
        "name": "Google form",
        "func": "if (msg.payload.length1 > 0 && msg.payload.length1 < 5) {\n    \n    msg.payload.length1 = \"1\"\n}\nelse{\n    msg.payload.length1 = 0\n}\n\nif (msg.payload.length2 > 0 && msg.payload.length2 < 5) {\n\n    msg.payload.length2 = \"1\"\n}\nelse {\n    msg.payload.length2 = 0\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "e8e55b0212b0cbb1"
            ]
        ]
    },
    {
        "id": "e8e55b0212b0cbb1",
        "type": "http request",
        "z": "fe1fbd717c1222d2",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSetvcovAUXNNuLDMZQYaxiB7MYxZVk7UPOxXo7WL7D_UUULXA/formResponse?usp=pp_url&entry.1134996065={{payload.length2}}&entry.961343262={{payload.length1}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "bd267a8cec83f0ed",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "814cead497178248",
        "type": "ui_group",
        "name": "Back Door",
        "tab": "0dd1bd1ca6a709a9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38673dadad34aafe",
        "type": "ui_group",
        "name": "Front Door",
        "tab": "0dd1bd1ca6a709a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0dd1bd1ca6a709a9",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]
